section {
  display: flex;
  margin: 1rem;
  padding: 0.5rem;
  align-items: center;

  .text {
    flex: 1;
    text-align: center;
    margin: 0 auto;
    h1 {
      font-size: 3rem;
      padding: 3rem 0;
    }
    span {
      font-style: italic;
      color: $primary;
      padding: 0 1rem;
      text-shadow: 1px 1px 5px $white;
    }
    .paragraphe {
      padding: 3rem;
      line-height: 3rem;
    }
    picture img {
      width: 5% !important;
    }
  }
  .illustration {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
      border-radius: 30px;
    }
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .techno {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
    font-size: 45px;
    margin: 5rem;
    h2 {
      text-align: left;
      font-size: 3rem;
    }
    i {
      transition: all 0.3s ease;
      &:hover {
        cursor: pointer;
        color: $secondary;
        transform: scale(1.2);
      }
    }
  }
}
#presentation {
  margin-top: 170px;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem;
  .socials {
    a {
      font-size: 42px;
      color: $white;
      transition: color 0.3s ease-in-out;
      padding: 3rem;

      &:hover {
        color: darken(#0077b5, 10%);
      }
    }
  }
  .action {
    margin-top: 3rem;
    a {
      padding: 3rem;
    }
  }
}
.competences-bars {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .competence-bar {
    .competence-bar-bar {
      background-color: $white;
      width: 100%;
      height: 30px;
      border-radius: $border-radius;
      border: 1px solid;
      .competence-bar-bar-fill {
        background-color: $primary;
        height: 100%;
        border-radius: $border-radius;
        animation: showGrowth 10s ease infinite alternate;
      }
    }
  }
}
.cards {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .card {
    border: solid 0.5rem;
    border-color: $primary;
    border-radius: 15px;
    margin: 1rem;
    .card_title {
      background: $primary;
      color: $white;
    }
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
